<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; style-src 'self'; img-src 'self'; script-src 'self' 'unsafe-eval' https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js https://unpkg.com/culori@0.18.2/build/culori.umd.js;"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>color-id</title>

    <link rel="shortcut icon" type="image/svg+xml" href="images/logo.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/colors.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/global.css"
    />

    <!-- VUE FOR DEVELOPMENT --
    <script
      type="text/javascript"
      src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"
      integrity="sha384-MEjJ07I/SLnb0PgyCIWKX5JtRELbplt6ecAPNT9eEI0mq8dGm9met0SpBoJsdYzt"
      crossorigin="anonymous"
    ></script>
    -->
    <script
      type="text/javascript"
      src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"
      integrity="sha384-RoYKiz86LLByaDkyg6pnB/EPSDmSxj0r+RP4zHQiGWlv7EdJMl4iiHNhMyBWiBqb"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/culori@0.18.2/build/culori.umd.js"
      integrity="sha384-B4WKs7Zni3RWlUhCM586jJuihrr0oY+BSaqA03ie0O6Bx+yY287+1fb6jduoVgi7"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="src/index.js"></script>
  </head>
  <body id="app">
    <header>
      <div id="header-content">
        <a id="header-link" href="index.html">
          <img id="header-icon" src="images/logo.svg" alt="color-id icon" />
          <h1>{{ name }}</h1>
        </a>
        <a v-bind:href="source" title="Check out the project on GitHub">
          <img
            src="images/github-icon.png"
            alt="GitHub icon"
            width="35"
            height="35"
          />
        </a>
      </div>
    </header>
    <div id="body-container">
      <div id="search-container">
        <form id="color-input-form" v-on:submit="identifyColor">
          <div
            id="main-color-box"
            class="color-box"
            v-bind:style="searchColor.style"
          ></div>
          <div id="color-input-container">
            <input
              id="color-input"
              v-model="colorInput"
              type="text"
              v-bind:placeholder="inputPlaceholder"
            />
            <input id="color-submission" type="submit" value="identify" />
            <span>&nbsp;or&nbsp;</span>
            <input
              id="color-random"
              type="button"
              value="random"
              v-on:click="randomColor"
            />
          </div>
        </form>
      </div>
      <h2>Color Composition</h2>
      <div id="composition-container">
        <!-- RGB -->
        <figure id="rgb-figure">
          <figcaption>{{searchColor.rgbStr}}</figcaption>
          <div id="rgb-diagram" class="bar-diagram">
            <div class="attribute-labels">
              <div class="attribute-label">red</div>
              <div class="attribute-label">green</div>
              <div class="attribute-label">blue</div>
            </div>
            <div class="attribute-bars">
              <div
                class="red-bar attribute-bar"
                v-bind:style="searchColor.rgbStyle.r"
              ></div>
              <div
                class="green-bar attribute-bar"
                v-bind:style="searchColor.rgbStyle.g"
              ></div>
              <div
                class="blue-bar attribute-bar"
                v-bind:style="searchColor.rgbStyle.b"
              ></div>
            </div>
          </div>
        </figure>
        <!-- HSL -->
        <figure id="hsl-figure">
          <figcaption>{{searchColor.hslStr}}</figcaption>
          <div id="hsl-diagram" class="bar-diagram">
            <div class="attribute-labels">
              <div class="attribute-label">hue</div>
              <div class="attribute-label">saturation</div>
              <div class="attribute-label">lightness</div>
            </div>
            <div class="attribute-bars">
              <div
                class="hue-bar attribute-bar"
                v-bind:style="searchColor.hslStyle.h"
              ></div>
              <div
                class="saturation-bar attribute-bar" 
                v-bind:style="searchColor.hslStyle.s"
              ></div>
              <div
                class="lightness-bar attribute-bar"
                v-bind:style="searchColor.hslStyle.l"
              ></div>
            </div>
          </div>
        </figure>
        <!-- HSV -->
        <figure id="hsv-figure">
          <figcaption>{{searchColor.hsvStr}}</figcaption>
          <div id="hsv-diagram" class="bar-diagram">
            <div class="attribute-labels">
              <div class="attribute-label">hue</div>
              <div class="attribute-label">saturation</div>
              <div class="attribute-label">value</div>
            </div>
            <div class="attribute-bars">
              <div
                class="hue-bar attribute-bar"
                v-bind:style="searchColor.hsvStyle.h"
              ></div>
              <div
                class="saturation-bar attribute-bar"
                v-bind:style="searchColor.hsvStyle.s"
              ></div>
              <div
                class="value-bar attribute-bar"
                v-bind:style="searchColor.hsvStyle.v"
              ></div>
            </div>
          </div>
        </figure>
      </div>
      <h2>Color Names</h2>
      <div id="suggestion-container">
        <div id="color-suggestion-list">
          <div class="color-suggestion" v-for="color in nearestColors">
            <div class="color-box" v-bind:style="color.style"></div>
            <div class="color-info">
              <div class="color-name">{{ color.name }}</div>
              <div class="color-hex">{{ color.hex }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="footer-content">
        <p id="footer-copyright" class="footer-text">
          <strong>{{ name }}</strong>, v{{ version }}, &#xa9; 2021 {{ author
          }}<br />
          This project is available open source on
          <a v-bind:href="source">GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
